extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  p Welcome to Library Manager
  div.container
    div.flex-row
      div.featured-content
        p 
          i.material-icons library_books 
          | Manage Books
        p.description Use these tools to manage library books.
      ul.featured-tools
        li.featured-tool
          a(href="/books/new") New Book
        li.featured-tool
          a(href="all_books.html") List All
        li.featured-tool
          a(href="/books?filter=overdue") List Overdue
        li.featured-tool
          a(href="/books?filter=checked_out") List Checked Out
    
    div.flex-row    
      div.featured-content
        p 
          i.material-icons account_circle 
          | Manage Patrons
        p.description Use these tools to manage library patrons.
      ul.featured-tools      
        li.featured-tool
          a(href="/patrons/new") New Patron
        li.featured-tool
          a(href="all_patrons.html") List All
    
    div.flex-row    
      div.featured-content
        p 
          i.material-icons account_balance 
          | Manage Loans
        p.description Use these tools to manage library loans.
      ul.featured-tools
        li.featured-tool
          a(href="new_loan.html") New Loan
        li.featured-tool
          a(href="all_loans.html") List All
        li.featured-tool
          a(href="overdue_loans.html") List Overdue
        li.featured-tool
          a(href="checked_loans.html") List Checked Out
