doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
    
  nav
    ul
      li
        a(href="/books/p/1")
          i.material-icons library_books
          | Books
        a(href="/patrons/p/1") 
          i.material-icons people_outline
          | Patrons
        a(href="/loans")
          i.material-icons account_balance
          | Loans
    h1 
      a(href="/") Library Manager
  body
    block content
