doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
    
  nav
    ul
      li
        a(href="/all_books")
          i.material-icons library_books
          | Books
        a(href="/all_patrons") 
          i.material-icons account_circle
          | Patrons
        a(href="/all_loans")
          i.material-icons account_balance
          | Loans
    h1 Library Manager
  body
    block content
