doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  nav
    ul
      li
        a(href="/all_books") Books
        a(href="/all_patrons") Patrons
        a(href="/all_loans") Loans
  body
    block content
