@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Noto+Sans+TC:300,400,500,700');

* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  margin: 0;
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #FAFAFA;
  /* background-color: #F1F1F1; */
}

a {
  color: #252526;
  text-decoration: none;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  /* margin-bottom: 10px; */
  line-height: 1.3em;
}

nav {
  /* border-bottom: 1px solid #7ae7ff; */
  border-bottom: 1px solid #DDD;
  background-color: #FAFAFA;
  /* background-color: #FFF; */
  padding: 15px;
  margin-bottom: 0;
  /* box-shadow: 0 2px 4px -2px rgba(55,55,55,.2), 0 4px 5px 0 rgba(55,55,55,.14), 0 1px 10px 0 rgba(55,55,55,.12); */
  position: relative;
  z-index: 1000;
}

nav ul {
  float: left;
}

nav h1 a {
  float: right;
  font-family: 'Fugaz One', cursive;
  font-size: 2em;
  margin-bottom: 15px;
  color: #5d86ff;
  /* background: linear-gradient(45deg, #00C9FF 0%, #94e69d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* color: #43a047; */
}

nav:after {
  clear: both;
  content: "";
  display: table;
}

nav ul li a {
  display: inline-block;
  list-style: none;
  padding: 5px 15px;
  color: #252526;
  font-weight: 400;
}

nav ul li a i {
  vertical-align: middle;
  margin-right: 8px;
  color: #5d86ff;
}

h2 {
  /* border-top: 2px solid #e7e7e7; */
  /* padding-top: 20px; */
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr .button {
  background-color: #4b6a88;
  padding: 4px 8px 5px;
  font-weight: normal;
}

  tr .button:hover {
    background-color: #547798;
  }

tr:nth-child(2n) {
  background: #F1F1F1;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  color: #5d86ff;
}

select,
input {
  padding: 10px;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  border-bottom: 1.5px solid #5d86ff;
}

input[type=text] {
  margin-left: 10px;
}

i {
  vertical-align: middle;
  margin-right: 5px;
}

.text-center {text-align: center; }

.container {
  display: flex;
  flex-direction: column;
  margin: 45px 0;
  padding: 25px;
  background-color: #E9E9E9;
  border-radius: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px 0;
}

.featured-content {
  background-color: #5d86ff;
  width: 15%;
  /* min-height: 250px; */
  margin: 0 auto;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px -2px rgba(55,55,55,.2), 0 4px 5px 0 rgba(55,55,55,.14), 0 1px 10px 0 rgba(55,55,55,.12);
}

.featured-content p {
  color: #FFF;
  font-size: 0.9em;
}

.description {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.4;
}

.featured-tools {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.featured-tools li.featured-tool {
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  min-width: 23.5%;
  margin: 0 8px;
  padding: 15px;
  vertical-align: top;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px -2px rgba(55,55,55,.2), 0 4px 5px 0 rgba(55,55,55,.14), 0 1px 10px 0 rgba(55,55,55,.12);
}

.featured-tool h2 {
  text-align: center;
  color: #525292;
  font-size: 1.2em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

.featured-tool h2 i {
  font-size: 1.2em;
}

.featured-tool p {
  /* text-align: left; */
  font-size: 0.75em;
}

.btn,
.featured-tool a {
  background-color: #525292;
  border-radius: 4px;
  color: #FFF;
  padding: 8px;
  margin: 5px;
  display: inline-block;
  font-size: 0.75em;
}

.btn:hover,
.btn:focus,
.btn:target,
.featured-tool a:hover,
.featured-tool a:focus,
.featured-tool a:target {
  opacity: 0.85;
  color: #FFF;
}

.content-wrapper {
  background-color: #FAFAFA;
  padding: 15px;
  box-shadow: 0 2px 4px -2px rgba(55,55,55,.2), 0 4px 5px 0 rgba(55,55,55,.14), 0 1px 10px 0 rgba(55,55,55,.12);
  width: 100%;
}

.table {
  width: 100%;
}

.table th {
  border-bottom: 2px solid #DDD;
  color: #5d86ff;
  padding: 8px;
}

.table td {
  border-bottom: 1px solid #DDD;
  padding: 8px;
  font-size: 0.8em;
  font-weight: 400;
}

.table-link {
  color: #525292;
}

.table-link-icon {
  color: #858585;
  font-size: 1em;
  margin-left: 5px;
}

.errors-wrapper {
  background-color: #e57663;
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
}
